body{
    background-color: #E0FBFC;
    color: #555;    
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    line-height: 1em;
    margin:0;
}

.container{
    width: 90%;
    margin: auto;
    overflow: hidden;
}

#showcase{
    min-height: 20px;
    margin-bottom: 100px;
    text-align: center;
    padding-top: 250px;
    padding-bottom: 250px;
}

#showcase h1{
    color: black;
    font-family: 'Cormorant', serif;
    font-size: 100px;
    line-height: 0em;
    padding-top: 10px;
    padding-bottom: 10px;
}

#showcase p{
    color: black;
    font-size: 40px;
    line-height: 0em;
}

#lower_showcase{
    background-color: #EE6C4D;
    min-height: 500px;
    padding-top: 50px;
    padding-bottom: 100px;
    margin-right: 0px;
}

#lower_showcase h2{
    color: white;
    text-align: justify;
    line-height: 1.7em;
    padding-top: 30px;
    padding-left: 60px;
    padding-right: 750px;
}

#lower_showcase img{
    padding-right: 100px;
    padding-top: 20px;
}

#factune{
    background-color: #FFFDD0;
    min-height: 500px;
    padding-top: 500px;
    padding-bottom: 500px;
    margin-right: 0px;
}

#facetune h2{
    padding-top: 20px;
    padding-right: 370px;
    text-align: center;
}

.imageBox {
    padding-left: 300px;
    padding-top: 10px;
    padding-bottom: 60px;
    position: relative;
    float: left;
  }
  
.imageBox .hoverImg {
    padding-left: 300px;
    padding-top: 10px;
    padding-bottom: 60px;
    position: absolute;
    left: 0;
    top: 0;
    display: none;
  }
  
.imageBox:hover .hoverImg {
    display: block;
  }

#facetune video{
    padding-top: 75px;
    padding-left: 100px;
}

#facetune h3{
    text-align: justify;
    line-height: 1.5em;;
    padding-top: 10px;
    padding-left: 850px;
    padding-right: 170px;
}
